#lqi_map {
    width: max-content;
    float: left;
    padding-right: 5%
    
}

.map-200 {
	width: 200px;
}

.map-400 {
	width: 400px;
}

.map-left {
	float: left;
	padding-right: 20px;
}

.map-right {
	float: right;
	padding-left: 20px;
}
